<% include ../partials/header.ejs %>

<main class="container">
    
    <div class="panel panel-default">
           
        <div class="panel-heading">
            <%= survey.name %>
        </div> <!-- panel-heading -->
        
        <div class="panel-body">
                    
            <form method="post">
            <fieldset class="form-group">
                <label class="form-heading">Question 1</label><br>
                <label class="control-label"><%= survey.question01 %></label>
                <div class="form-control">
                    <label class="radio-inline"><input type="radio" name="answerq01" model="response.answerq01" value="A">A</label>
                    <label class="radio-inline"><input type="radio" name="answerq01" model="response.answerq01" value="B">B</label>
                    <label class="radio-inline"><input type="radio" name="answerq01" model="response.answerq01" value="C">C</label>
                    <label class="radio-inline"><input type="radio" name="answerq01" model="response.answerq01" value="D">D</label>
                </div>
                <% if (survey.multiplechoice == "true" ) { %>
                <div class="form-horizontal">
                    <label class="form-text"><%= survey.question01A %></label>
                    <label class="form-text"><%= survey.question01B %></label>
                    <label class="form-text"><%= survey.question01C %></label>
                    <label class="form-text"><%= survey.question01D %></label>
                </div>
                <% } %>
            </fieldset>
            
            <%= survey.multiplechoice %>
                
            
            <fieldset class="form-group">
                <label for="Question02">Question 2</label>
                <input name="Question02" type="text" class="form-control" value="<%= survey.question02 %>" />
            </fieldset>
            <fieldset class="form-group">
                <label for="Question03">Question 3</label>
                <input name="Question03" type="test" class="form-control"  value="<%= survey.question03 %>"/>
            </fieldset>
            <fieldset class="form-group">
                <label for="Question04">Question 4</label>
                <input name="Question04" type="text" class="form-control"  value="<%= survey.question04 %>"/>
             </fieldset>
             <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-success" value="Submit"/><i class="fa fa-save"></i> Submit</button>
            </fieldset>
             </form>

        </div> <!-- panel-body -->
        
    </div><!-- panel panel-default -->
    
</main>

<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>