<% include ../partials/header.ejs %>

<main class="container">
    
    <div class="panel panel-default">
           
        <div class="panel-heading">
            <%= survey.name %>
            <%= survey.questions %>
            <%= survey.multiplechoice %>
        </div> <!-- panel-heading -->
        
        <div class="panel-body">
                    
            <form method="post">
            <input type="hidden" model="response.surveyid" value="<%= survey.id %>">
            <input type="hidden" model="response.name" value="<%= survey.name %>">
            <input type="hidden" model="response.questions" value="<%= survey.questions %>">
            <input type="hidden" model="response.multiplechoice" value="<%= survey.multiplechoice %>">
            
            <% for (var i = 0; i <  survey.questions; i++) { %>
            <% } %>
            
            <fieldset class="form-group">
                <label class="form-heading">Question 1</label><br>
                <label class="control-label"><%= survey.question01%></label>
                <div class="panel-body">
                    <label class="radio"><input type="radio" name="answerq01" model="response.answerq01" value="A">
                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question01A %></label><br> 
                    <% } else { %>
                        <label class="form-text">Strongly Agree</label><br>
                    <% } %>
                    </label>
                                        
                    <label class="radio"><input type="radio" name="answerq01" model="response.answerq01" value="B">
                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question01B %></label><br> 
                    <% } else { %>
                        <label class="form-text">Agree</label><br>
                    <% } %>
                    </label>
                                        
                    <label class="radio"><input type="radio" name="answerq01" model="response.answerq01" value="C">
                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question01C %></label><br> 
                    <% } else { %>
                        <label class="form-text">Disagree</label><br>
                    <% } %>
                    </label>
                                      
                    <label class="radio"><input type="radio" name="answerq01" model="response.answerq01" value="D">                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question01D %></label><br> 
                    <% } else { %>
                        <label class="form-text">Strongly Disagree</label><br>
                    <% } %>
                    </label>
                </div>
                
                <label class="form-heading">Question 21</label><br>
                <label class="control-label"><%= survey.question02%></label>
                <div class="panel-body">
                    <label class="radio"><input type="radio" name="answerq02" model="response.answerq02" value="A">
                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question02A %></label><br> 
                    <% } else { %>
                        <label class="form-text">Strongly Agree</label><br>
                    <% } %>
                    </label>
                                        
                    <label class="radio"><input type="radio" name="answerq02" model="response.answerq02" value="B">
                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question02B %></label><br> 
                    <% } else { %>
                        <label class="form-text">Agree</label><br>
                    <% } %>
                    </label>
                                        
                    <label class="radio"><input type="radio" name="answerq02" model="response.answerq02" value="C">
                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question02C %></label><br> 
                    <% } else { %>
                        <label class="form-text">Disagree</label><br>
                    <% } %>
                    </label>
                                      
                    <label class="radio"><input type="radio" name="answerq02" model="response.answerq02" value="D">                    <% if (survey.multiplechoice == "true" ) { %>
                        <label class="form-text"><%= survey.question02D %></label><br> 
                    <% } else { %>
                        <label class="form-text">Strongly Disagree</label><br>
                    <% } %>
                    </label>
                </div>                       
                
            </fieldset>
            
                            
            

             <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-success" value="Submit"/><i class="fa fa-save"></i> Submit</button>
            </fieldset>
             </form>

        </div> <!-- panel-body -->
        
    </div><!-- panel panel-default -->
    
</main>

<% include ../partials/boot.ejs %>
<% include ../partials/footer.ejs %>